h1 {
  color: darkgreen;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 68px;
  background-color: pink;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

body {
  background-image: url('https://s3.amazonaws.com/rpdwebgraphics/New+website+images/Greenies-adj.jpg');}

p {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

p-span {
  display: table;
}

h2 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);  
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Varela Round', sans-serif;
}

section {
  background-color: pink;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

ul {
  text-align: center;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
}