h1 {
    color: darkgreen;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 58px;
  }
  
  img {
      display: block;
      margin-left: auto;
      margin-right: auto
  }
  
  body {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  }
  
  